html {
    background-color: #1b406a;
}

#callLogs {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: bold;

}

.callInformation {
    font-size: 18px;
}

.title {
<<<<<<< HEAD
    font-size: 18px;
=======
    font-size: 20px;
>>>>>>> f5f6808c02ca172d46d5ce65de5496091c93092d
    font-weight: bold;
}
.closeButton {
    background: lightgreen;
    padding: 10px;
    font-weight: bold;
    border-radius: 25px;
    border: 1px solid black;
    
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
#box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    margin: 10px 30px 30px 30px;
    border-radius: 10px;
    padding: 5px;
}

#sessionTitle {
    font-weight: bold;
    font-size: 20px;

}
#lineInfoTitle {
    font-weight: bold;
    font-size: 20px;
}
#subscriberTitle {
    font-weight: bold;
    font-size: 20px;
}


#callerTitle {
    font-weight: bold;
    font-size: 20px;
}

#callDirection {
    font-weight: bold;
    font-size: 20px;
}

#calleeTitle {
    font-weight: bold;
    font-size: 20px;
}

#callDirectionTitle {
    font-weight: bold;
    font-size: 20px;
<<<<<<< HEAD
}

#salesRepName { 
    font-size: 18px;
}

#salesRepExtension { 
    font-size: 18px;
}
=======
}
>>>>>>> f5f6808c02ca172d46d5ce65de5496091c93092d
